<mat-card class="my-card">
  <mat-card-header class="my-cardheader" >
    <mat-toolbar color="accent">
      <span class="my-cardheader-title">Wizzard</span>
    </mat-toolbar>
   </mat-card-header>

   <mat-card-content class="my-cardcontent m-5 p-5 shadow-4">
    <h2>
      Wizzard finished
    </h2>
  </mat-card-content>
<div class="mat-mdc-card-content mx-5">
  <mat-card-actions align="end">
    <button mat-button  color="warn" (click)="goWelcome()">Close</button>
  </mat-card-actions>
</div>
</mat-card>
