<div class="display-6 fst-italic pb-3 d-flex justify-content-between">
  Projects
</div>

<nav aria-label="breadcrumb fs-6 d-flex">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Projects</li>
    </ol>
</nav>


<!-- <div style="font-size: 10px;">{{this.projects| json}}</div> -->
<!--!Buscador -->
<div class="input-group mt-4 col-md-6 ms-auto">
  <button type="button" class="btn btn-success me-5" data-bs-toggle="modal"
        data-bs-target="#addProjectModal">
    <i class="fas fa-plus"></i> Add Project
  </button>

  <select class="form-select" [(ngModel)]="searchBy">
    <option *ngFor="let property of projectProperties.Properties" [value]="property">{{ property }}</option>
  </select>
  <!-- <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search..." (input)="onInputChange()"> -->
  <input *ngIf="searchBy !== 'DateOfStart'" type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search..."  (input)="onInputChange()">
  <input *ngIf="searchBy === 'DateOfStart'" type="date" class="form-control" [(ngModel)]="searchText" placeholder="Search..."  (input)="onInputChange()">

   <button class="btn btn-primary" (click)="onSearchClick()">
    <i class="fas fa-search"></i> Search
  </button>
</div>


<!--? Grid de proyectos -->
<div class="p-3 card mt-4">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Inicio</th>
        <th>Equipo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of this.projects; let i = index">
        <td>{{ project.ID }}</td>
        <td>{{ project.Name | uppercase }}</td>
        <td>{{ project.DateOfStart | date:'dd/MM/yyyy' }}</td>
        <td>{{ project.TeamSize }}</td>
        <td style="width: 200px; min-width: 200px;">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#editProjectModal"
                  (click)="editProjectClick($event, i)">
            <i class="fas fa-edit"></i> Edit
          </button>

          <span class="mx-2"></span>

          <button type="button" class="btn btn-danger"
                  (click)="deleteProjectClick($event, i)">
            <i class="fas fa-remove"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--? Add Project Modal -->
<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="addProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProjectModalLabel">New Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Add project form -->
        <form>
          <div class="form-group">
            <label for="projectId">Project ID</label>
            <input type="text" class="form-control" id="projectId" [(ngModel)]="newProject.ID" name="projectId">
          </div>

          <div class="form-group">
            <label for="projectName">Nombre</label>
            <input type="text" class="form-control" id="projectName" [(ngModel)]="newProject.Name" name="projectName">
          </div>

          <div class="form-group">
            <label for="projectDate">Inicio</label>
            <input type="date" class="form-control" id="projectDate" [(ngModel)]="newProject.DateOfStart"
              name="projectDate">
          </div>

          <div class="form-group">
            <label for="projectTeamSize">Equipo</label>
            <input type="number" class="form-control" id="projectTeamSize" [(ngModel)]="newProject.TeamSize"
              name="projectTeamSize">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" #myModalClose class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fas fa-times"></i> Close</button>
        <button type="button" class="btn btn-success" (click)="addProjectClick()">
          <i class="fas fa-check"></i> Add Project</button>
      </div>
    </div>
  </div>
</div>


<!--! Edit Project Modal -->
<div class="modal fade" id="editProjectModal" tabindex="-1" aria-labelledby="editProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProjectModalLabel">Edit Project: {{editProject.ID}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Add project form -->
        <form>
          <div class="form-group">
            <label for="projectName">Nombre</label>
            <input type="text" class="form-control" id="editProjectName" [(ngModel)]="editProject.Name"
              name="projectName">
          </div>

          <div class="form-group">
            <label for="projectDate">Inicio</label>
            <input type="date" class="form-control" id="editProjectDate" [(ngModel)]="editProject.DateOfStart"
              name="projectDate">
          </div>

          <div class="form-group">
            <label for="projectTeamSize">Equipo</label>
            <input type="number" class="form-control" id="editProjectTeamSize" [(ngModel)]="editProject.TeamSize"
              name="projectTeamSize">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" #myEditModalClose class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fas fa-times"></i> Close</button>
        <button type="button" class="btn btn-primary" (click)="updateProjectClick()">
          <i class="fas fa-check"></i> Edit</button>
      </div>
    </div>
  </div>
</div>


<!-- * Delete Project Modal -->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProjectModalLabel">Delete Project: {{deleteProject.ID}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 style="text-align: center;">Are you sure to delete this project?</h3>
        <form>
          <div class="form-group">
            <label for="projectName">Nombre</label>
            <input type="text" class="form-control" id="deleteProjectName" [(ngModel)]="deleteProject.Name"
              disabled="disabled"
              name="projectName">
          </div>

          <div class="form-group">
            <label for="projectDate">Inicio</label>
            <input type="date" class="form-control" id="deleteProjectDate" [(ngModel)]="deleteProject.DateOfStart"
              disabled="disabled"
              name="projectDate">
          </div>

          <div class="form-group">
            <label for="projectTeamSize">Equipo</label>
            <input type="number" class="form-control" id="deleteProjectTeamSize" [(ngModel)]="deleteProject.TeamSize"
              disabled="disabled"
              name="projectTeamSize">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" #myDeleteModalClose class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fas fa-times"></i> Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteProjectConfirmClick()">
          <i class="fas fa-check"></i> Delete</button>
      </div>
    </div>
  </div>
</div>
