.search-container {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  right: 25px;
  padding: 5px;
  position: fixed;
  top: 20px;
  width: 270px;
}
