<div class="nav-scroller py-1 mb-3 border-bottom">
  <nav aria-label="breadcrumb fs-6">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>

  <div class="display-6 fst-italic pb-3 d-flex justify-content-between">
    Dashboard
    <div style="font-size: 12px;">{{ahora | date:"short"}}</div>
  </div>
  <div class="">
    <!-- Crear unlayout con bootstrap con una columna de 3 otra de 6 y la ultima de 3 -->
    <div class="row">
      <div class="col-3">
        <div class="p-2 mb-2 bg-light rounded columnFit">
          <!-- Layout con bootstrap que ocupe 11 columnas dentro de este div y que tenga dos filas, una para el encabezado y otra par el cuerpo -->
          <div class="row">
            <div class="col-12">
              <h4 class="fst-italic text-center">{{this.Designation | uppercase}}</h4>
              <!-- Display user-image alineada al centro -->
              <div class="d-flex justify-content-center">
                <img src="assets/images/user-icon.jpg" class="rounded-circle" alt="user-image" width="100" height="100">
              </div>
              <!-- Mostar el user name -->
              <h5 class="fst-italic text-center">{{this.UserName | lowercase}}</h5>
              <!--! Team summary como un subtitulo en upper case-->
              <h6 class="text-center text-uppercase">Team Summary</h6>
              <!-- Mostrar "No Team Members" en una fila blanca con el valor en un badge-->
              <div class="d-flex justify-content-between bg-white">
                <div class="p-2 text-uppercase">No Of Team Members</div>
                <div class="p-2 ">
                  <span class="badge bg-primary">{{this.NoOfTeamMembers}}</span>
                </div>
              </div>

              <div class="d-flex justify-content-between bg-white">
                <div class="p-2 text-uppercase">Total cost of all projects</div>
                <div class="p-2 ">
                  <span class="badge bg-primary">$ {{this.TotalCostOfAllProjects}}</span>
                </div>
              </div>

              <div class="d-flex justify-content-between bg-white">
                <div class="p-2 text-uppercase">Pending tasks</div>
                <div class="p-2 ">
                  <span class="badge bg-secondary">{{this.PendingTasks}}</span>
                </div>
              </div>

              <div class="d-flex justify-content-between bg-white">
                <div class="p-2 text-uppercase">Upcoming Projects</div>
                <div class="p-2 ">
                  <span class="badge bg-warning">{{this.UpcomingProjects | percent}}</span>
                </div>
              </div>

              <h6 class="col-12 p-2 text-uppercase text-center">Clients</h6>
              <!-- Lista los Clients[]-->
              <div class="p-2 col-12 bg-white">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let client of Clients">{{ client.length > 10 ? (client | slice:0:10) + '...' : client }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Cuerpo cental -->
      <div class="col-6">
        <div class="p-2 mb-2 bg-light rounded  columnFit">
          <!--! Dropdowns -->
          <div class="d-flex justify-content-between pb-2">

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{this.ProjectName}}
              </button>
              <ul class="dropdown-menu" onclick="return false" (click)="onProjectChange($event)">

                <li *ngFor="let project of Projects">
                  <a class="dropdown-item" href="#">{{ project }}</a>
                </li>
              </ul>
            </div>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                2024
              </button>
              <ul class="dropdown-menu">
                <li *ngFor="let year of Years">
                  <a class="dropdown-item" href="#">
                    <div [ngSwitch]="getYearComparison(year)">
                      <span *ngSwitchCase="'past'" style="color: red;">{{ year }}</span>
                      <span *ngSwitchCase="'present'" style="color: black;">{{ year }}</span>
                      <span *ngSwitchCase="'future'" style="color: gray;">{{ year }}</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="p-2 bg-white">

            <!--! Primer bloque central -->
            <div class="p-2 mb-3 bg-body-tertiary rounded">
              <h6 class="fst-italic text-uppercase  text-center">Project Briefing</h6>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td>Project Cost</td>
                  <td><strong>{{this.ProjectCost | currency: "EUR"}}</strong></td>
                </tr>
                <tr>
                  <td>Current Expenditure</td>
                  <td><strong>{{this.CurrentExpenditure | currency: "EUR"}}</strong></td>
                </tr>
                <tr>
                  <td>Available Funds</td>
                  <td><strong>{{this.AvailableFunds | currency: "EUR"}}</strong></td>
                </tr>
              </tbody>
            </table>

            <!--! Segundo bloque central: Team Members Summary -->
            <div class="p-2 mb-3 bg-body-tertiary rounded">
              <h6 class="fst-italic text-uppercase  text-center">Team Members Summary</h6>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Region</th>
                  <th scope="col">Team Members Count</th>
                  <th scope="col">Teamporary Unavailable Members</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let member of TeamMembersSummary">
                  <td><strong>{{ member.region.name }}</strong></td>
                  <td>{{ member.count }}</td>
                  <td>{{ member.unavailable }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--Columna de la derecha  -->
      <div class="col-3">
        <div class="p-2 mb-2 bg-light rounded columnFit">
          <div class="p-2 bg-white">
            <!-- Primer bloque derecha -->
            <div class="p-2 mb-3 bg-body-tertiary rounded">
              <h6 class="fst-italic text-uppercase  text-center">Team Members</h6>
            </div>
            <!-- Acordeon para los empleados -->
            <div class="accordion" id="teamMembersAccordion">
              <ng-container *ngFor="let region of Regions; let i = index">
                <div class="accordion-item" *ngIf="region.display">

                  <h2 class="accordion-header" [id]="region.name + 'Heading'">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#' + region.name+ 'Collapse'"
                      [attr.aria-expanded]="region === getFirstVisibleRegion()  ? 'true' : 'false'"
                      [attr.aria-controls]="region.name + 'Collapse'">
                      {{ region.name }}
                    </button>
                  </h2>


                  <div [id]="region.name+ 'Collapse'" class="accordion-collapse collapse"
                    [attr.aria-labelledby]="region.name + 'Heading'" data-bs-parent="#teamMembersAccordion"
                    [class.show]="region === getFirstVisibleRegion() ">

                    <div class="accordion-body">

                      <div *ngIf="region.card;then firstTemplate else secondTemplate"></div>

                      <ng-template #firstTemplate>
                        <div class="card">
                          <div class="card-header">
                            Team Members
                          </div>
                          <div class="card-body">
                            <div class="list-group">
                              <a *ngFor="let member of TeamMembers | filter: 'region' : region.name"
                                class="list-group-item">
                                <div class="d-flex justify-content-between">
                                  <h5 class="mb-1">{{ member.name }}</h5>
                                  <small [style.color]="(member.status === 'Busy') ? 'red' : 'black'">
                                    {{ member.status}}</small>
                                </div>
                                <div class="d-flex justify-content-between">
                                  <p class="mb-1">ID: {{ member.id }}</p>
                                  <i class="fas fa-phone" *ngIf="member.status === 'Available'"></i>
                                  <i class="fas fa-clock" *ngIf="member.status === 'Busy'"></i>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </ng-template>

                      <ng-template #secondTemplate>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Name</th>
                              <th scope="col">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let member of TeamMembers | filter: 'region' : region.name">
                              <td>{{ member.id }}</td>
                              <td [style.color]="(member.status === 'Busy') ? 'red' : 'black'">
                                {{ member.name }}
                              </td>
                              <td>
                                <i class="fas fa-phone" *ngIf="member.status === 'Available'"></i>
                                <i class="fas fa-clock" *ngIf="member.status === 'Busy'"></i>
                                {{ member.status }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </ng-template>

                    </div>
                  </div>

                </div>

              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="font-size: 10px;">{{TeamMembers | json}}</div>
